<div class="page-wrapper container-fluid d-flex flex-column align-items-center px-5">
  <h1 class="new-recipe-header mb-4 mt-5">New Drink Recipe</h1>
  <label for="drink" class="new-recipe-drink-name mb-2 mt-4">Drink Name </label>
  <input id="drink" type="text" class="box-shadow" />
  <div class="mb-2 mt-5">
  <label for="liquid" class="mixing-liquid">Mixing Liquids </label>
  </div>
  <div class="d-flex flex-column new-recipe-liquid box-shadow p-4">
    {{#each liquids as |liquid|}}
      <label class="pb-4" for="liquid_{{liquid.id}}"><input
          type="checkbox"
          class="liquid-list barcard-checkbox"
          id="{{liquid.id}}"
          name="liquid_{{liquid.id}}"
          value="{{liquid.name}}"
        /> {{liquid.name}}</label>
    {{/each}}
    <a href="/newingredient" class="liquid-link pb-4">Need another liquid?</a>
  <label for="is_alcoholic"><input
    type="checkbox"
    id="is_alcoholic"
    class="barcard-checkbox"
    name="is_alcoholic"
    value="is_alcoholic"
  /> Contains alcohol?</label>
  </div>
  
  <label for="drink_instructions" class="mt-5 mb-2 recipe-instructions">Recipe Instructions </label>
  <textarea id="drink_instructions" class="form-control box-shadow textarea" rows="5" cols="50"></textarea>
  <button
    type="button"
    class="btn btn-lg btn-primary mt-5 mb-5 box-shadow"
    id="new-recipe-button"
  >Add New Recipe</button>
</div>
<script src="/js/drink.js"></script>